body{
    margin: o;
    background-color: #053d45;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #d2e054;
    background-color: #0c7c85;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

h2{
    text-align: center;
    color: white;
    font-family: sans-serif;
}

span{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: large;
    font-style: oblique;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.image-container{
    display: flex;
}

.image-container img {
    width: 100%;
}

article {
    padding: 10px;
    box-shadow: 0px 0px 1px #000;
}

.container{
    align-items: center;
    width: 10%;
}

.clase{
    font-weight: 2000;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    border-radius: 50%;
    
   
}

footer{
    display: flex;
    justify-content: center;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
footer{
    margin-left: 85px;
}